<h1>Listing apples</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apples.each do |apple| %>
  <tr>
    <td><%= apple.name %></td>
    <td><%= apple.price %></td>
    <td><%= link_to 'Show', apple %></td>
    <td><%= link_to 'Edit', edit_apple_path(apple) %></td>
    <td><%= link_to 'Destroy', apple, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Apple', new_apple_path %>
